{#
/**
 * @file
 * Structures the page with header, main and footer sections.
 */
#}
<div class="layout-container">
  <header role="banner">
    {{ page.header_top }}
    {{ page.header }}
    {{ page.header_bottom }}
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content_top }}
    {{ page.content }}
    {{ page.content_bottom }}
  </main>

  <footer role="contentinfo">
    {{ page.footer_top }}
    {{ page.footer }}
    {{ page.footer_bottom }}
  </footer>
</div>
